<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
    <label for="{{ field.id_for_label }}" class="{{ label_class }}">
        {{ field.label }}
        {% if field.field.required %}<span class="required">*</span>{% endif %}
    </label>
    {% endif %}
    
    {{ rendered_field }}
    
    {% if help_text %}
    <small class="form-help">{{ help_text }}</small>
    {% endif %}
    
    {% if field.errors %}
    <div class="form-error">
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}
</div>
